.workout {
    width: 280px;
    height: 450px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(22, 78, 99, 0.19);
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.workout img {
    width: 100%;
    border-radius: 10px;
}

.workout span {
    font-weight: bold;
}

.details{
    font-size: 14px;
}

.common{
    font-weight: 500;
    margin: 5px 0;
}

.btn-workout {
    width: 280px;
    background-color: rgb(21 94 117);
    color: white;
    font-size: large;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.btn-workout:hover {
    background-color: rgb(22 78 99);;
}

.btn-workout p {
    margin: 12px auto;
    font-weight: 500;
}