.home-pg {
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: #f3f6ff;
}

.main-section {
    margin: 50px 100px;
}

.page-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.page-title img {
    width: 100px;
}

.page-title h1 {
    color: rgb(22 78 99);
    margin: 0;
    padding: 0;
}

.workouts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sidebar-section {
    background-color: white;
}

/* Large devices */
@media only screen and (min-width: 1200px) {
    .workouts-container {
        grid-template-columns: repeat(3, 1fr);
    }
 }

/* Medium devices */
@media only screen and (min-width: 993px) and (max-width: 1312px) {
    .workouts-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .workouts-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-section {
        margin: 50px auto;
    }
}

/* Mobile Devices */
@media only screen and (max-width: 688px) {
    .home-pg {
        grid-template-columns: repeat(1, 1fr);
    }

    .workouts-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-section {
        margin: 50px auto;
    }
}